@font-face {
  font-family: 'robotolight';
  src: url("../fonts/Roboto-Light-webfont.eot");
  src: url("../fonts/Roboto-Light-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Light-webfont.woff") format("woff"), url("../fonts/Roboto-Light-webfont.ttf") format("truetype"), url("../fonts/Roboto-Light-webfont.svg#robotolight") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotoregular';
  src: url("../fonts/Roboto-Regular-webfont.eot");
  src: url("../fonts/Roboto-Regular-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Regular-webfont.woff") format("woff"), url("../fonts/Roboto-Regular-webfont.ttf") format("truetype"), url("../fonts/Roboto-Regular-webfont.svg#robotoregular") format("svg");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'robotobold';
  src: url("../fonts/Roboto-Bold-webfont.eot");
  src: url("../fonts/Roboto-Bold-webfont.eot?#iefix") format("embedded-opentype"), url("../fonts/Roboto-Bold-webfont.woff") format("woff"), url("../fonts/Roboto-Bold-webfont.ttf") format("truetype"), url("../fonts/Roboto-Bold-webfont.svg#robotobold") format("svg");
  font-weight: normal;
  font-style: normal; }
/*---------------------------------------------------------
 1. Reset
-------------------------------------------------------- */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline; }

main {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

a:focus {
  outline: none; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section {
  display: block; }

audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1; }

audio:not([controls]) {
  display: none; }

sub,
sup {
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -.5em; }

sub {
  bottom: -.25em; }

img {
  border: 0;
  -ms-interpolation-mode: bicubic; }

button,
input,
select,
textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle; }

button,
input {
  line-height: normal;
  *overflow: visible; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button; }

input[type="search"] {
  -webkit-appearance: textfield; }

input[type="search"]:-webkit-search-decoration {
  -webkit-appearance: none; }

textarea {
  overflow: auto;
  vertical-align: top; }

/*---------------------------------------------------------
 2. Basic Style
-------------------------------------------------------- */
body {
  font-size: 14px;
  line-height: 24px;
  color: #777;
  font-family: 'robotoregular';
  overflow-x: hidden; }

a {
  color: #6cc0f7;
  -webkit-transition: all 150ms ease-in-out;
  -moz-transition: all 150ms ease-in-out;
  -ms-transition: all 150ms ease-in-out;
  -o-transition: all 150ms ease-in-out;
  transition: all 150ms ease-in-out;
  text-decoration: none !important; }
  a:hover {
    color: #555; }

h1, h2, h3, h4, h5 {
  color: #555; }

::-webkit-input-placeholder {
  color: #999; }

:-moz-placeholder {
  /* Firefox 18- */
  color: #999; }

::-moz-placeholder {
  /* Firefox 19+ */
  color: #999; }

:-ms-input-placeholder {
  color: #999; }

.main-content,
.banner-bg {
  float: right;
  width: 77%; }
  @media screen and (max-width: 1290px) {
    .main-content,
    .banner-bg {
      width: 70%; } }
  @media screen and (max-width: 992px) {
    .main-content,
    .banner-bg {
      width: 100%; } }

.content-wrapper {
  padding: 0 80px; }
  @media screen and (max-width: 992px) {
    .content-wrapper {
      padding: 0 30px; } }

h4.widget-title {
  font-size: 16px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 40px; }

hr {
  position: relative;
  outline: 0;
  border: 0;
  width: 100%;
  height: 4px;
  background: #dddddd;
  margin-top: 40px;
  margin-bottom: 0; }

.page-section {
  padding-top: 80px; }

/*---------------------------------------------------------
 3. Header
-------------------------------------------------------- */
.sidebar-menu {
  float: left;
  width: 23%;
  height: 100%;
  position: fixed;
  background-color: #5f6d7e;
  color: #fff;
  overflow-y: hidden; }
  @media screen and (max-width: 1290px) {
    .sidebar-menu {
      overflow-y: scroll;
      width: 30%; } }

.top-section {
  padding: 40px; }

.profile-image {
  width: 15em;
  overflow: hidden;
  margin-bottom: 20px; }
  .profile-image img {
    width: 100%; }

h3.profile-title {
  margin-bottom: 5px;
  color: #fff;
  font-size: 18px;
  font-family: 'robotobold'; }

.main-navigation {
  margin: 30px 0; }
  .main-navigation li {
    display: block; }
    .main-navigation li a {
      padding: 15px 40px;
      display: block;
      color: #fff;
      font-size: 14px; }
      .main-navigation li a i {
        margin-right: 15px;
        font-size: 24px; }
      .main-navigation li a:hover {
        background: #5b6878; }
      .main-navigation li a.active {
        background: #495461; }
        .main-navigation li a.active:hover {
          background: #495461; }

.social-icons {
  display: block;
  padding: 30px 40px; }
  .social-icons li {
    display: inline-block;
    margin-right: 20px; }
  .social-icons a {
    font-size: 18px;
    color: #fff; }
    .social-icons a:hover {
      color: #282e35; }

.responsive-header {
  background: #5f6d7e;
  text-align: center; }
  @media screen and (max-width: 992px) {
    .responsive-header .main-navigation {
      margin-top: 10px;
      display: none; } }
  @media screen and (max-width: 992px) {
    .responsive-header p {
      color: #fff; } }
  @media screen and (max-width: 992px) {
    .responsive-header .profile-image {
      float: left;
      width: 100px;
      height: 100px;
      -webkit-border-radius: 50px;
      border-radius: 50px;
      overflow: hidden;
      margin-right: 30px; }
    .responsive-header .profile-content {
      text-align: left;
      margin-top: 30px;
      overflow: hidden; } }

@media screen and (max-width: 992px) {
  .top-section {
    padding-bottom: 0; } }

@media screen and (max-width: 992px) {
  .main-navigation a {
    padding: 10px; }
    .main-navigation a.active {
      background: #5f6d7e !important; }
    .main-navigation a:hover {
      background: #5f6d7e !important; } }

.toggle-menu {
  width: 100%;
  display: block;
  padding: 20px;
  margin-top: 30px;
  background: #6cc0f7;
  color: #fff;
  font-size: 18px; }
  .toggle-menu:hover {
    color: #fff; }

.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center; }

/*---------------------------------------------------------
 4. Main Content
-------------------------------------------------------- */
/*------ banner ------ */
.banner-bg {
  padding: 260px 80px;
  position: relative;
  background: url("../img/Eye-Spy-Shutterstock.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  z-index: 2; }

.banner-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(95, 109, 126, 0.4);
  top: 0;
  left: 0;
  z-index: 3; }

.welcome-text {
  position: relative;
  z-index: 4; }
  .welcome-text h2 {
    font-size: 42px;
    font-family: 'robotobold';
    color: #fff;
    margin-bottom: 30px; }
  .welcome-text h5 {
    font-size: 22px;
    color: #fff; }

/*------ about us ------ */
.about-image {
  overflow: hidden;
  border: 4px solid #dddddd;
  margin-bottom: 40px; }
  .about-image img {
    width: 100%;
    display: block; }

/*------ projects ------ */
.projects-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px; }
  .projects-holder .col-md-4,
  .projects-holder .col-md-4 {
    padding-right: 1px;
    padding-left: 1px; }

.project-item {
  width: 100%;
  margin-bottom: 2px;
  overflow: hidden;
  position: relative; }
  .project-item img {
    width: 100%;
    display: block; }
  .project-item:hover .project-hover {
    top: 0;
    opacity: 1;
    visibility: visible; }

.project-hover {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 40px;
  left: 0;
  background: rgba(0, 0, 0, 0.9);
  opacity: 0;
  visibility: 0;
  -webkit-transition: all 200ms linear;
  -moz-transition: all 200ms linear;
  -ms-transition: all 200ms linear;
  -o-transition: all 200ms linear;
  transition: all 200ms linear; }
  .project-hover .inside {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    padding: 30px; }
  .project-hover h5 {
    font-size: 16px;
    margin-bottom: 15px; }
    .project-hover h5 a {
      color: #fff; }
  .project-hover p {
    color: #fff;
    font-size: 13px;
    line-height: 20px; }

/*------ team ------ */
.black {
  color: #555; }

/*************************
*********Team CSS*********
**************************/
.team-members {
  margin-top: 20px; }

.team-social-icons {
  display: block;
  padding: 3px 3px; }
  .team-social-icons ul {
    font-size: 0px; }
  .team-social-icons li {
    display: inline-block;
    height: 36px;
    width: 36px;
    line-height: 36px;
    vertical-align: middle;
    background-color: lightgray; }
  .team-social-icons a {
    display: block;
    font-size: 18px;
    color: #fff;
    height: 100%;
    padding-top: calc(50% - 9px); }
    .team-social-icons a:hover {
      color: #282e35; }

.team-member {
  margin: 0 0px 0 0px;
  text-align: center;
  color: #333;
  font-size: 14px;
  margin-bottom: 20px; }
  .team-member:hover {
    color: #555; }

.team-member:hover .team-social-icons ul li a.facebook {
  background-color: #3b5999; }

.team-member:hover .team-social-icons ul li a.twitter {
  background-color: #2ac6f7; }

.team-member:hover .team-social-icons ul li a.dribbble {
  background-color: #ff5b92; }

.team-member:hover .team-social-icons ul li a.linkedin {
  background-color: #036dc0; }

.team-member:hover .team-social-icons ul li a.rss {
  background-color: #ff6b00; }

#team .img-responsive {
  width: 100%; }

.member-info h3, h4, h5 {
  color: #555; }

.member-info h1 {
  font-size: 16px;
  font-family: 'robotobold';
  text-transform: uppercase;
  margin-bottom: 10px;
  margin-top: 10px; }

.member-info h2 {
  font-size: 14px;
  font-family: 'robotobold';
  color: #999;
  text-transform: uppercase;
  margin-bottom: 5px; }

.member-info p {
  font-size: 14px;
  font-family: 'robotolight';
  color: #777;
  margin-bottom: 10px;
  margin-top: 10px; }

.team-holder {
  margin-right: 0;
  margin-left: 0;
  margin-top: 40px; }
  .team-holder .col-md-3 {
    padding-right: 8px;
    padding-left: 8px; }

/*------ contact ------ */
.contact-form {
  margin-top: 40px; }
  .contact-form input, .contact-form textarea {
    width: 100%;
    outline: 0;
    border: 1px solid #aaaaaa;
    padding: 12px;
    color: #999;
    margin-bottom: 30px; }
    .contact-form input:focus, .contact-form textarea:focus {
      outline: 0; }
  .contact-form .button {
    width: auto;
    background: #5f6d7e;
    color: #fff;
    text-transform: uppercase;
    border: 0; }

/*---------------------------------------------------------
 5. Scroll
-------------------------------------------------------- */
/*!
 * fullPage 2.7.5
 * https://github.com/alvarotrigo/fullPage.js
 * MIT licensed
 *
 * Copyright (C) 2013 alvarotrigo.com - A project by Alvaro Trigo
 * Contribution by Jhony0311
 */
html.fp-enabled,
.fp-enabled body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  /*Avoid flicker on slides transitions for mobile phones #336 */
  -webkit-tap-highlight-color: transparent; }

#superContainer {
  height: 100%;
  position: relative;
  /* Touch detection for Windows 8 */
  -ms-touch-action: none;
  /* IE 11 on Windows Phone 8.1*/
  touch-action: none; }

.fp-section {
  position: relative;
  -webkit-box-sizing: border-box;
  /* Safari<=5 Android<=3 */
  -moz-box-sizing: border-box;
  /* <=28 */
  box-sizing: border-box; }

.fp-slide {
  float: left; }

.fp-slide, .fp-slidesContainer {
  height: 100%;
  display: block; }

.fp-slides {
  z-index: 1;
  height: 100%;
  overflow: hidden;
  position: relative;
  -webkit-transition: all 0.3s ease-out;
  /* Safari<=6 Android<=4.3 */
  transition: all 0.3s ease-out; }

.fp-section.fp-table, .fp-slide.fp-table {
  display: table;
  table-layout: fixed;
  width: 100%; }

.fp-tableCell {
  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%; }

.fp-slidesContainer {
  float: left;
  position: relative; }

.fp-controlArrow {
  -webkit-user-select: none;
  /* webkit (safari, chrome) browsers */
  -moz-user-select: none;
  /* mozilla browsers */
  -khtml-user-select: none;
  /* webkit (konqueror) browsers */
  -ms-user-select: none;
  /* IE10+ */
  position: absolute;
  z-index: 4;
  top: 50%;
  cursor: pointer;
  width: 0;
  height: 0;
  border-style: solid;
  margin-top: -38px;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0); }
  .fp-controlArrow.fp-prev {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #fff transparent transparent; }
  .fp-controlArrow.fp-next {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #fff; }

.fp-scrollable {
  overflow: scroll; }

.fp-notransition {
  -webkit-transition: none !important;
  transition: none !important; }

.fp-slidesNav {
  position: absolute;
  z-index: 4;
  left: 50%;
  opacity: 1; }
  .fp-slidesNav.bottom {
    bottom: 17px; }
  .fp-slidesNav.top {
    top: 17px; }

#fp-nav ul,
.fp-slidesNav ul {
  margin: 0;
  padding: 0; }
  #fp-nav ul li,
  .fp-slidesNav ul li {
    display: block;
    width: 14px;
    height: 13px;
    margin: 7px;
    position: relative; }
    #fp-nav ul li a,
    .fp-slidesNav ul li a {
      display: block;
      position: relative;
      z-index: 1;
      width: 100%;
      height: 100%;
      cursor: pointer;
      text-decoration: none; }
      #fp-nav ul li a.active span,
      .fp-slidesNav ul li a.active span {
        height: 12px;
        width: 12px;
        margin: -6px 0 0 -6px;
        border-radius: 100%; }
        #fp-nav ul li:hover #fp-nav ul li a.active span, #fp-slidesNav ul li:hover #fp-nav ul li a.active span, #fp-nav ul li:hover
        .fp-slidesNav ul li a.active span, #fp-slidesNav ul li:hover
        .fp-slidesNav ul li a.active span {
          height: 12px;
          width: 12px;
          margin: -6px 0 0 -6px;
          border-radius: 100%; }
      #fp-nav ul li a span,
      .fp-slidesNav ul li a span {
        border-radius: 50%;
        position: absolute;
        z-index: 1;
        height: 4px;
        width: 4px;
        border: 0;
        background: #333;
        left: 50%;
        top: 50%;
        margin: -2px 0 0 -2px;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
    #fp-nav ul li:hover a span,
    .fp-slidesNav ul li:hover a span {
      width: 10px;
      height: 10px;
      margin: -5px 0px 0px -5px; }

#fp-nav {
  position: fixed;
  z-index: 100;
  margin-top: -32px;
  top: 50%;
  opacity: 1;
  -webkit-transform: translate3d(0, 0, 0); }
  #fp-nav.right {
    right: 17px; }
  #fp-nav.left {
    left: 17px; }
  #fp-nav ul li .fp-tooltip {
    position: absolute;
    top: -2px;
    color: #fff;
    font-size: 14px;
    font-family: arial, helvetica, sans-serif;
    white-space: nowrap;
    max-width: 220px;
    overflow: hidden;
    display: block;
    opacity: 0;
    width: 0; }
    #fp-nav ul li .fp-tooltip.right {
      right: 20px; }
  #fp-nav ul li:hover .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }
  #fp-nav.fp-show-active a.active + .fp-tooltip {
    -webkit-transition: opacity 0.2s ease-in;
    transition: opacity 0.2s ease-in;
    width: auto;
    opacity: 1; }

.fp-slidesNav ul li {
  display: inline-block; }

.fp-auto-height.fp-section,
.fp-auto-height .fp-slide,
.fp-auto-height .fp-tableCell {
  height: auto !important; }

/*---------------------------------------------------------
 6. Footer
-------------------------------------------------------- */
#footer p.copyright-text {
  margin: 40px 0;
  font-size: 13px; }
  #footer p.copyright-text a {
    color: #5f6d7e; }
    #footer p.copyright-text a:hover {
      color: #6cc0f7; }
