.banner-bg {
	padding: 260px 80px;
	position: relative;
	background: url('../img/Eye-Spy-Shutterstock.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	z-index: 2;
}

.banner-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background: rgba($dark-bg, 0.4);
	top: 0;
	left: 0;
	z-index: 3;
}

.welcome-text {
	position: relative;
	z-index: 4;
	h2 {
		font-size: 42px;
		font-family: 'robotobold';
		color: $white;
		margin-bottom: 30px;
	}
	h5 {
		font-size: 22px;
		color: $white;
	}
}