
.black {
    color: #555;
}

/*************************
*********Team CSS*********
**************************/
.team-members {
  margin-top: 20px;
}

.team-social-icons {
	display: block;
	padding: 3px 3px;
    ul {
    font-size: 0px;
    }
    li {
        display: inline-block;
        height: 36px;
        width: 36px;
        line-height: 36px;
        vertical-align: middle;
        background-color: lightgray;
	}
    a {
        display: block;
		font-size: 18px;
		color: $white;
        height: 100%;
        padding-top: calc(50% - 9px);   
		&:hover {
			color: darken($dark-bg, 25%);
		}
	}
}
//
//.social-icons ul {
//  list-style: none;
//  padding: 0;
//  margin: 0;
//  display: inline-block;
//}
//
//.social-icons ul li {
//  float: left;
//  margin-right: 3px;
//}
//
//.social-icons ul li:last-child {
//  margin-right: 0;
//}
//
//.social-icons ul li a {
//  color: $white;
//  background-color: $light-color;
//  height: 36px;
//  width: 36px;
//  line-height: 36px;
//  display: block;
//  font-size: 16px;
//  opacity: 0.8;
//}
//
//.social-icons ul li a:hover {
//  opacity: 1;
//  -webkit-transform: scale(1.2);
//  transform: scale(1.2);
//}

.team-member {
//  @include transition(all, 150ms, ease-in-out);
    margin: 0 0px 0 0px;
  text-align: center;
  color: #333;
  font-size: 14px;
    margin-bottom: 20px;
    &:hover {
		color: $heading-color;
	}
}

.team-member:hover .team-social-icons ul li a.facebook {
  background-color: #3b5999;
}
.team-member:hover .team-social-icons ul li a.twitter {
  background-color: #2ac6f7;
}
.team-member:hover .team-social-icons ul li a.dribbble {
  background-color: #ff5b92;
}
.team-member:hover .team-social-icons ul li a.linkedin {
  background-color: #036dc0;
}
.team-member:hover .team-social-icons ul li a.rss {
  background-color: #ff6b00;
}

#team .img-responsive {
  width: 100%;
}

//.member-info h3 {
//  margin-top: 2px;
//}
//
//.member-info h4 {
//  font-size: 14px;
//  margin-bottom: 5px;
//  color: #999;
//}

.member-info h3, h4, h5 {
	color: $heading-color;
}
.member-info h1 {
	font-size: 16px;
	font-family: 'robotobold';
	text-transform: uppercase;
	margin-bottom: 10px;
    margin-top: 10px;
}
.member-info h2 {
	font-size: 14px;
	font-family: 'robotobold';
    color: $light-color;
	text-transform: uppercase;
    margin-bottom: 5px;
}

.member-info p {
	font-size: 14px;
	font-family: 'robotolight';
    color: $body-color;
	margin-bottom: 10px;
    margin-top: 10px;
}
.team-holder {
    margin-right: 0;
	margin-left: 0;
	margin-top: 40px;
    .col-md-3 {
		padding-right: 8px;
		padding-left: 8px;
	}
}
